@tailwind base;
@tailwind components;
@tailwind utilities;

.remote-component {
  position: relative;
  outline: 2px dashed transparent;
  outline-offset: -2px;
  isolation: isolate;
}

[data-seams]>main>.remote-component {
  --seams-color: #bc0000;
  outline-color: var(--seams-color);
}

.remote-component>.remote-label {
  display: none;
  position: absolute;
  opacity: 0;
  top: 0;
  right: .7rem;
  transform: translateY(-50%);
  z-index: 15;
  font-size: 0.8rem;
  padding: .25rem .5rem;
  background-color: #fff;
  color: var(--seams-color);
  outline: 1px solid currentColor;
  cursor: pointer;
}

.remote-component>.remote-label:hover {
  text-decoration: underline;
}

[data-seams]>main>.remote-component>.remote-label {
  display: block;
  opacity: 1;
  animation: remoteLabelFadeIn 200ms linear forwards;
}

@keyframes remoteLabelFadeIn {
  0% { opacity: 0; display: none; }
  1% { opacity: 0; display: block; }
  100% { opacity: 1; display: block; }
}